<!DOCTYPE html>
<html>
<head>
  <title>BlueIssues</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/header' %>
  <% if false %>
	<div class="identity">Logged in as: <%= session[:username] %></div>
  <% end %>
  
</head>
<body>

<%= yield %>
</body>
</html>
